html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(./234820-12092210112757.jpg);
}

h1 {
    background: rgba(255, 255, 255, 0.466);
    color: rgb(105, 60, 0);
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 0px;
    text-align: center;
}

.content {
    background: rgba(255, 255, 255, 0.466);
    max-width: 100%;
    margin: 0px;
    padding: 10px;
}

tr {
    list-style-type: none;
    padding: 0;
}

td {
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

table {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 70%;
    border: 8px rgb(199, 149, 57) double;
    border-radius: 25px;
}

form input {
    float: left;
    width: 25%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgb(221, 132, 132);
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus {
    outline: none;
    border-bottom: 3px solid #946132;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after {
    content: '';
    clear: both;
    display: block;
}

button {
    border: 0;
    background: rgb(236, 221, 221);
    border-radius: 10px;
    padding: 13px;
    width: 10%;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}

#add-cafe-form {
    width: 70%;
    text-align: center;
    margin: auto;
}